.on {
    background-color: white;
    color: black;
    margin: 0px,0px,0px,0px;
}
.off {
    background-color: black;
    color: white;
    margin: 0px,0px,0px,0px;
}

.onFocus {
    width: 105px; margin-left: 0px;
}
.offFocus {
    width: 105px; margin-left: -35px;
}

.disabledToggle {
    pointer-events: none;
    opacity: 0.4;
}