<div (click)="onClick($event)" [ngClass]="ofDisable?'disabledToggle':'enableToggle'" style="width:72px;">
  <div [ngClass]="value ? 'bootstrap-switch-on':' bootstrap-switch-off'" class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-bootstrap-switch-state bootstrap-switch-animate" style="width: 72px;">
    <div [ngClass]="value ? 'onFocus':'offFocus'" class="bootstrap-switch-container">
      <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 35px;float: left;">{{onText}}</span>
      <span class="bootstrap-switch-label" style="width: 35px;float: left;">&nbsp;</span>
      <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 35px;float: left;">{{offText}}</span>
      <input class="bootstrap-switch" type="checkbox" checked="">
    </div>
  </div>
</div>