<a *ngIf="!buttonOnly" href="javascript:void(0);" (click)="openDeleteModal(confirmDeleteContent)" [ngClass]="{ 'disabled': disableDelete }">
	{{(label || 'delete') | translate}}
</a>

<div *ngIf="buttonOnly" class="actions">
  <!-- Avoid whitespace inside the link -->
  <button type="button" (click)="openDeleteModal(confirmDeleteContent)" class="btn btn-link" [ngClass]="{ 'disabled': disableDelete }">
		<i class="fa fa-trash-o"></i>
		<span class="sr-only">{{'delete' | translate}} {{kind}} {{resourceName}}</span>
	</button>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h1>{{'are-you-sure-to-delete' | translate}} {{typeDisplayName || kind}} '
          <strong>{{displayName ? displayName : resourceName}}</strong>'?
        </h1>

        <p>{{'this' | translate}}
          <span *ngIf="isOrganization()"> 
				<strong>{{'will-delete-all-resources' | translate}}</strong> 
				{{'associated-with' | translate}} {{'organization' | translate}} {{displayName ? displayName : resourceName}} {{'and' | translate}}
			</span>
          <strong>{{'cannot-be-undone' | translate}}</strong>. {{'make-sure-message' | translate}}
        </p>

        <div [hidden]="!typeNameToConfirm">
          <p>{{'type-name-of' | translate}} {{typeDisplayName || kind}} {{'to-confirm' | translate}}.</p>
          <p>
            <label class="sr-only">{{typeDisplayName || kind}} to delete</label>
            <input type="text" [(ngModel)]="confirmName" name="confirmName" class="form-control input-lg" autocorrect="off" autocapitalize="off"
              spellcheck="false" autofocus/>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="typeNameToConfirm && confirmName !== resourceName && confirmName !== displayName" type="button" class="btn btn-lg btn-danger"
          (click)="c('Delete')">{{'delete' | translate}}</button>
        <button type="button" class="btn btn-lg btn-default" (click)="d('Cancel')">{{'cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>